<div class="form-group">
    <label for="youtube-name">Name</label>
    <input ng-model="model.widget.name"
           type="text"
           placeholder="YouTube Name"
           class="form-control"
           id="youtube-name"/>
</div>

<div class="form-group">
    <label for="youtube-text">Text</label>
    <input ng-model="model.widget.text"
           type="text"
           placeholder="YouTube Text"
           class="form-control"
           id="youtube-text"/>
</div>

<div class="form-group">
    <label for="youtube-url">URL</label>
    <input ng-model="model.widget.url"
           type="url"
           value="https://www.youtube.com/embed/El1_ENLEmKA"
           placeholder="YouTube URL"
           class="form-control"
           id="youtube-url"/>
</div>

<div class="form-group">
    <label for="youtube-width">Width</label>
    <input ng-model="model.widget.width"
           type="text"
           placeholder="YouTube Width"
           class="form-control"
           id="youtube-width"/>
</div>