<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
</head>
<body ng-app="ProfileApp">
<header>
<md-toolbar class="md-primary _md _md-toolbar-transitions">
    <div class="md-toolbar-tools">
        <h3 class="ng-binding">Profile</h3>
        <span class="flex"></span>
        <img src="./img/ic_done_black_18dp.png">
    </div>
</md-toolbar>
</header>



<md-content  layout-fill="" class="md-padding" >



    <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
        <label for="input_25">Username</label>
        <input ng-model="user.firstName"
               class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_25"
               aria-invalid="false" style=" ">
    </md-input-container>

    <md-input-container class="md-docs-dark-theme md-input-has-value">
        <label for="input_108">Email</label>
        <input ng-model="user.email" class="ng-pristine ng-valid md-input ng-not-empty ng-valid-email ng-touched" id="input_108" aria-invalid="false" style="" type="email"><div class="md-errors-spacer"></div>
    </md-input-container>

    <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
        <label for="input_250">First Name</label>
        <input ng-model="user.firstname"
               class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_250"
               aria-invalid="false" style="">
    </md-input-container>

    <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
        <label for="input_255">Last Name</label>
        <input ng-model="user.lastname"
               class="ng-pristine ng-valid md-input ng-empty ng-touched" id="input_255"
               aria-invalid="false" style="">
    </md-input-container>

    <md-button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-transclude="">
        <span class="ng-scope">Websites</span>
        <div class="md-ripple-container" style=""></div>
    </md-button>

    <md-button class="md-raised md-warn md-button mc-ripple" type="button" ng-transclude="">
        <span class="ng-scope">Logout</span>
        <div class="md-ripple-container" style=""></div>
    </md-button>



</md-content>

<footer>
    <md-toolbar class="md-primary _md _md-toolbar-transitions" >
        <div class="md-toolbar-tools">
            <span class="flex"></span>
            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" aria-label="Favorite">
                <img src="img/male-user.png" style="color: greenyellow;" class="ng-scope" aria-hidden="true">
                    </img>
            </button>
        </div>
    </md-toolbar>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script>
    angular.module('ProfileApp',['ngMaterial'])
</script>



</body>
</html>

